.product-wrapper {
    text-align: center;
    padding: 0.3em;
    margin: 0.5em;
    background-color: whitesmoke;
    color: #4c4438;
    cursor: pointer;
}

.product-wrapper:hover {
    background-color: ghostwhite;
}

.product-wrapper img {
    width: 10em;
}

.product-wrapper p {
    padding: 0;
    margin: 0;
}
